In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
df = pd.read_csv('forestfires.csv')
df

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,0,1,0,0,0,0,small
1,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,0,0,0,0,0,0,1,0,small
2,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,...,0,0,0,0,0,0,0,1,0,small
3,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,...,0,0,0,0,1,0,0,0,0,small
4,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,...,0,0,0,0,1,0,0,0,0,small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,aug,sun,81.6,56.7,665.6,1.9,27.8,32,2.7,0.0,...,0,0,0,0,0,0,0,0,0,large
513,aug,sun,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,...,0,0,0,0,0,0,0,0,0,large
514,aug,sun,81.6,56.7,665.6,1.9,21.2,70,6.7,0.0,...,0,0,0,0,0,0,0,0,0,large
515,aug,sat,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,...,0,0,0,0,0,0,0,0,0,small
516,nov,tue,79.5,3.0,106.7,1.1,11.8,31,4.5,0.0,...,0,0,0,0,0,0,1,0,0,small

In [5]:
df.drop(['monthfeb','monthjan','monthjul','monthjun','monthmar','monthmay','monthnov','monthoct','monthsep','monthapr',	'monthaug',	'monthdec'],inplace=True,axis=1)

In [6]:
df.drop(['daymon',	'daytue','daywed','daythu','dayfri','daysat','daysun'],inplace=True,axis=1)

In [7]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
cate = ['month','day']
df[cate] = df[cate].apply(le.fit_transform)

In [8]:
df['size_category'].replace({'small':0,'large':1},inplace=True)
df

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,size_category
0,7,0,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.00,0
1,10,5,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,0.00,0
2,10,2,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,0.00,0
3,7,0,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,0.00,0
4,7,3,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,0.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...
512,1,3,81.6,56.7,665.6,1.9,27.8,32,2.7,0.0,6.44,1
513,1,3,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,54.29,1
514,1,3,81.6,56.7,665.6,1.9,21.2,70,6.7,0.0,11.16,1
515,1,2,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,0.00,0
516,9,5,79.5,3.0,106.7,1.1,11.8,31,4.5,0.0,0.00,0

In [9]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [10]:
from imblearn.over_sampling import SMOTE
from collections import Counter

sm = SMOTE()
X_train,y_train = sm.fit_resample(X,y)

print(f'Before smoting : {Counter(y)}')
print(f'After smoting : {Counter(y_train)}')

Before smoting : Counter({0: 378, 1: 139})
After smoting : Counter({0: 378, 1: 378})

In [11]:
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
X = sc_x.fit_transform(X)
Y = sc_x.fit_transform(y.values.reshape(-1,1))

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=123)

In [17]:
from keras.models import Sequential
from keras.layers import Dense

# Step 1: Prepare the data
# Assuming you have your training data stored in X_train and corresponding labels in y_train

# Convert data to numpy arrays



# Step 2: Create the model
model = Sequential()
model.add(Dense(12, input_dim=11, activation='relu'))
model.add(Dense(10,  activation='relu')) # Hidden layer with 12 neurons
model.add(Dense(1, activation='sigmoid'))  # Output layer with sigmoid activation for binary classification

# Step 3: Compile the model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# Step 4: Train the model
model.fit(X_train, y_train, epochs=20, batch_size=10)

# Step 5: Use the trained model for prediction
# Assuming you have your test data stored in X_test
predictions = model.predict(X_test)

Epoch 1/20
42/42 [==============================] - 1s 1ms/step - loss: 0.6291 - accuracy: 0.0000e+00
Epoch 2/20
42/42 [==============================] - 0s 1ms/step - loss: 0.4014 - accuracy: 0.0000e+00
Epoch 3/20
42/42 [==============================] - 0s 1ms/step - loss: 0.2605 - accuracy: 0.0000e+00
Epoch 4/20
42/42 [==============================] - 0s 1ms/step - loss: 0.1430 - accuracy: 0.0000e+00
Epoch 5/20
42/42 [==============================] - 0s 1ms/step - loss: 0.0425 - accuracy: 0.0000e+00
Epoch 6/20
42/42 [==============================] - 0s 1ms/step - loss: -0.0598 - accuracy: 0.0000e+00
Epoch 7/20
42/42 [==============================] - 0s 1ms/step - loss: -0.1642 - accuracy: 0.0000e+00
Epoch 8/20
42/42 [==============================] - 0s 1ms/step - loss: -0.2722 - accuracy: 0.0000e+00
Epoch 9/20
42/42 [==============================] - 0s 1ms/step - loss: -0.4011 - accuracy: 0.0000e+00
Epoch 10/20
42/42 [==============================] - 0s 1ms/step - loss: -0.5404 - accuracy: 0.0000e+00
Epoch 11/20
42/42 [==============================] - 0s 1ms/step - loss: -0.6994 - accuracy: 0.0000e+00
Epoch 12/20
42/42 [==============================] - 0s 1ms/step - loss: -0.8944 - accuracy: 0.0000e+00
Epoch 13/20
42/42 [==============================] - 0s 1ms/step - loss: -1.1094 - accuracy: 0.0000e+00
Epoch 14/20
42/42 [==============================] - 0s 1ms/step - loss: -1.3498 - accuracy: 0.0000e+00
Epoch 15/20
42/42 [==============================] - 0s 1ms/step - loss: -1.6408 - accuracy: 0.0000e+00
Epoch 16/20
42/42 [==============================] - 0s 1ms/step - loss: -1.9808 - accuracy: 0.0000e+00
Epoch 17/20
42/42 [==============================] - 0s 1ms/step - loss: -2.4090 - accuracy: 0.0000e+00
Epoch 18/20
42/42 [==============================] - 0s 1ms/step - loss: -2.9199 - accuracy: 0.0000e+00
Epoch 19/20
42/42 [==============================] - 0s 1ms/step - loss: -3.5059 - accuracy: 0.0000e+00
Epoch 20/20
42/42 [==============================] - 0s 1ms/step - loss: -4.2594 - accuracy: 0.0000e+00
4/4 [==============================] - 0s 2ms/step